//
// ALIASES
//
$a-absolute:            absolute !default;
$a-active:              a !default;
$a-auto:                a !default;
$a-around:              sa !default;
$a-baseline:            bl !default;
$a-between:             sb !default;
$a-block:               b !default;
$a-bold:                bold !default;
$a-both:                both !default;
$a-bottom:              b !default;
$a-break:               break !default;
$a-capitalize:          cap !default;
$a-column:              col !default;
$a-column-reverse:      #{$a-column}-reverse !default;
$a-contain:             contain !default;
$a-cover:               cover !default;
$a-center:              c !default;
$a-dashed:              dashed !default;
$a-dotted:              dotted !default;
$a-double:              double !default;
$a-end:                 fe !default;
$a-fixed:               fixed !default;
$a-fill:                fill !default;
$a-flex:                f !default;
$a-focus:               f !default;
$a-hidden:              h !default;
$a-horizontal:          x !default;
$a-hover:               h !default;
$a-inline:              i !default;
$a-inline-block:        #{$a-inline}#{$a-block} !default;
$a-inline-flex:         #{$a-inline}#{$a-flex} !default;
$a-inherit:             inherit !default;
$a-italic:              italic !default;
$a-keep:                keep !default;
$a-large:               l !default;
$a-left:                l !default;
$a-line-through:        lt !default;
$a-lowercase:           lc !default;
$a-medium:              m !default;
$a-middle:              middle !default;
$a-monospace:           mono !default;
$a-none:                n !default;
$a-normal:              normal !default;
$a-not-first:           nf !default;
$a-not-last:            nl !default;
$a-nowrap:              nw !default;
$a-object:              object !default;
$a-percent:             \% !default; // The "\" is only necessary for escaping the character in the CSS output.
$a-pill:                pill !default;
$a-pre:                 pre !default;
$a-relative:            relative !default;
$a-row:                 row !default;
$a-row-reverse:         #{$a-row}-reverse !default;
$a-right:               r !default;
$a-rotate:              rotate !default;
$a-sans-serif:          sans !default;
$a-scale:               scale !default;
$a-scroll:              scroll !default;
$a-serif:               serif !default;
$a-small:               s !default;
$a-solid:               solid !default;
$a-static:              static !default;
$a-sticky:              sticky !default;
$a-start:               fs !default;
$a-stretch:             stretch !default;
$a-top:                 t !default;
$a-translate:           translate !default;
$a-underline:           ul !default;
$a-uppercase:           uc !default;
$a-vertical:            y !default;
$a-viewport-height:     vh !default;
$a-visible:             v !default;
$a-wrap:                wrap !default;
$a-wrap-reverse:        #{$a-wrap}-reverse !default;

//
// CONTEXTS
//
$c-align-items:                 ai !default;
$c-align-self:                  as !default;
$c-align-content:               ac !default;
$c-all:                         all !default;
$c-aspect-ratio:                ar !default;
$c-background:                  bg !default;
$c-background-color:            #{$c-background}c !default;
$c-background-position:         #{$c-background}p !default;
$c-background-size:             #{$c-background}s !default;
$c-bottom:                      #{$a-bottom} !default;
$c-border:                      bd !default;
$c-border-top:                  #{$c-border}-#{$a-top} !default;
$c-border-bottom:               #{$c-border}-#{$a-bottom} !default;
$c-border-color:                #{$c-border}c !default;
$c-border-left:                 #{$c-border}-#{$a-left} !default;
$c-border-radius:               #{$c-border}rad !default;
$c-border-radius-top-left:      #{$c-border-radius}-#{$a-top}#{$a-left} !default;
$c-border-radius-top-right:     #{$c-border-radius}-#{$a-top}#{$a-right} !default;
$c-border-radius-bottom-left:   #{$c-border-radius}-#{$a-bottom}#{$a-left} !default;
$c-border-radius-bottom-right:  #{$c-border-radius}-#{$a-bottom}#{$a-right} !default;
$c-border-right:                #{$c-border}-#{$a-right} !default;
$c-border-style:                #{$c-border}s !default;
$c-border-width:                #{$c-border}w !default;
$c-box-shadow:                  bs !default;
$c-clear:                       cl !default;
$c-display:                     d !default;
$c-flex:                        f !default;
$c-flex-direction:              fd !default;
$c-flex-wrap:                   fw !default;
$c-float:                       fl !default;
$c-font-family:                 ff !default;
$c-font-size:                   fs !default;
$c-font-style:                  fsy !default;
$c-font-weight:                 fw !default;
$c-height:                      h !default;
$c-left:                        #{$a-left} !default;
$c-letter-spacing:              ls !default;
$c-line-height:                 lh !default;
$c-list-style:                  ls !default;
$c-justify-content:             jc !default;
$c-margin:                      m !default;
$c-margin-top:                  #{$c-margin}-#{$a-top} !default;
$c-margin-bottom:               #{$c-margin}-#{$a-bottom} !default;
$c-margin-left:                 #{$c-margin}-#{$a-left} !default;
$c-margin-right:                #{$c-margin}-#{$a-right} !default;
$c-margin-vertical:             #{$c-margin}-#{$a-vertical} !default;
$c-margin-horizontal:           #{$c-margin}-#{$a-horizontal} !default;
$c-max-width:                   max-w !default;
$c-min-height:                  min-h !default;
$c-opacity:                     o !default;
$c-order:                       ord !default;
$c-outline:                     ol !default;
$c-overflow:                    of !default;
$c-overflow-vertical:           #{$c-overflow}-y !default;
$c-overflow-horizontal:         #{$c-overflow}-x !default;
$c-padding:                     p !default;
$c-padding-top:                 #{$c-padding}-#{$a-top} !default;
$c-padding-bottom:              #{$c-padding}-#{$a-bottom} !default;
$c-padding-left:                #{$c-padding}-#{$a-left} !default;
$c-padding-right:               #{$c-padding}-#{$a-right} !default;
$c-padding-vertical:            #{$c-padding}-#{$a-vertical} !default;
$c-padding-horizontal:          #{$c-padding}-#{$a-horizontal} !default;
$c-position:                    pos !default;
$c-right:                       #{$a-right} !default;
$c-screen-reader:               sr !default;
$c-stripe:                      stripe !default;
$c-text-align:                  t-a !default;
$c-text-color:                  c !default;
$c-text-decoration:             t-d !default;
$c-text-transform:              t-t !default;
$c-transform:                   tfm !default;
$c-transition:                  trs !default;
$c-top:                         #{$a-top} !default;
$c-vertical-align:              va !default;
$c-white-space:                 ws !default;
$c-word-break:                  wb !default;
$c-width:                       w !default;
$c-z-index:                     z !default;
