//
// ALIASES
//

// Contexts
$c-align-items:         ai !default;
$c-align-self:          as !default;
$c-align-content:       ac !default;
$c-aspect-ratio:        ar !default;
$c-background:          bg !default;
$c-background-color:    #{$c-background}c !default;
$c-background-position: #{$c-background}p !default;
$c-background-size:     #{$c-background}s !default;
$c-bottom:              b !default;
$c-border:              brd !default;
$c-border-top:          #{$c-border}t !default;
$c-border-bottom:       #{$c-border}b !default;
$c-border-color:        #{$c-border}c !default;
$c-border-left:         #{$c-border}l !default;
$c-border-radius:       #{$c-border}rad !default;
$c-border-right:        #{$c-border}r !default;
$c-border-style:        #{$c-border}s !default;
$c-border-width:        #{$c-border}w !default;
$c-box-shadow:          bs !default;
$c-clear:               clr !default;
$c-display:             d !default;
$c-fill:                fill !default;
$c-flex:                flx !default;
$c-flex-direction:      fxd !default;
$c-float:               flt !default;
$c-font-family:         ff !default;
$c-font-size:           fs !default;
$c-font-style:          fsty !default;
$c-font-weight:         w !default;
$c-gradient:            grad !default;
$c-height:              h !default;
$c-left:                l !default;
$c-letter-spacing:      ls !default;
$c-line-height:         lh !default;
$c-list-style:          ls !default;
$c-justify-content:     jc !default;
$c-margin:              m !default;
$c-margin-top:          #{$c-margin}t !default;
$c-margin-bottom:       #{$c-margin}b !default;
$c-margin-left:         #{$c-margin}l !default;
$c-margin-right:        #{$c-margin}r !default;
$c-margin-vertical:     #{$c-margin}y !default;
$c-margin-horizontal:   #{$c-margin}h !default;
$c-max-width:           mw !default;
$c-min-height:          mh !default;
$c-opacity:             o !default;
$c-order:               ord !default;
$c-outline:             ol !default;
$c-overflow:            of !default;
$c-overflow-vertical:   #{$c-overflow}y !default;
$c-overflow-horizontal: #{$c-overflow}x !default;
$c-padding:             p !default;
$c-padding-top:         #{$c-padding}t !default;
$c-padding-bottom:      #{$c-padding}b !default;
$c-padding-left:        #{$c-padding}l !default;
$c-padding-right:       #{$c-padding}r !default;
$c-padding-vertical:    #{$c-padding}y !default;
$c-padding-horizontal:  #{$c-padding}x !default;
$c-position:            pos !default;
$c-pre:                 pre !default;
$c-right:               r !default;
$c-rotation:            rot !default;
$c-screen-reader:       sr !default;
$c-stripe:              stripe !default;
$c-text-align:          ta !default;
$c-text-color:          tc !default;
$c-text-transform:      tt !default;
$c-top:                 t !default;
$c-vertical-align:      va !default;
$c-white-space:         ws !default;
$c-word-break:          wb !default;
$c-width:               w !default;
$c-z-index:             z !default;

//
// ALIASES
//
$a-absolute:            absolute !default;
$a-auto:                auto !default;
$a-around:              around !default;
$a-baseline:            bl !default;
$a-between:             between !default;
$a-block:               block !default;
$a-bold:                bold !default;
$a-both:                both !default;
$a-bottom:              b !default;
$a-break:               break !default;
$a-capitalize:          cap !default;
$a-column:              col !default;
$a-column-reverse:      #{$a-column}-reverse !default;
$a-contain:             contain !default;
$a-cover:               cover !default;
$a-center:              c !default;
$a-dashed:              dashed !default;
$a-dotted:              dotted !default;
$a-end:                 e !default;
$a-fixed:               fixed !default;
$a-fill:                fill !default;
$a-flex:                flex !default;
$a-focus:               focus !default;
$a-headline:            hl !default;
$a-hidden:              h !default;
$a-inline:              inline !default;
$a-inline-flex:         #{$a-inline}-flex !default;
$a-inherit:             inherit !default;
$a-italic:              italic !default;
$a-keep:                keep !default;
$a-left:                l !default;
$a-line-through:        lt !default;
$a-lowercase:           lc !default;
$a-middle:              middle !default;
$a-none:                0 !default;
$a-normal:              normal !default;
$a-nowrap:              nw !default;
$a-object:              object !default;
$a-percent:             p !default;
$a-pill:                pill !default;
$a-pre:                 pre !default;
$a-relative:            relative !default;
$a-rem:                 null !default;
$a-row:                 row !default;
$a-row-reverse:           #{$a-row}-reverse !default;
$a-right:               r !default;
$a-scroll:              scroll !default;
$a-solid:               solid !default;
$a-static:              static !default;
$a-sticky:              sticky !default;
$a-start:               s !default;
$a-stretch:             stretch !default;
$a-sub-headline:        shl !default;
$a-top:                 top !default;
$a-underline:           ul !default;
$a-uppercase:           uc !default;
$a-viewport-height:     vh !default;
$a-visible:             v !default;
$a-wrap:                wrap !default;
