//
// VARIABLES
//

// Breakpoints
$screen-s: 768px !default;
$screen-m: 992px !default;
$screen-l: 1200px !default;

$query-s: 'screen and (min-width: #{$screen-s})' !default;
$query-m: 'screen and (min-width: #{$screen-m})' !default;
$query-l: 'screen and (min-width: #{$screen-l})' !default;

$breakpoints: (
    s: (
        size: $screen-s,
        query: $query-s
    ),
    m: (
        size: $screen-m,
        query: $query-m
    ),
    l: (
        size: $screen-l,
        query: $query-l
    )
) !default;

// Colors
$black: #000 !default;
$white: #FFF !default;
$primary: #009688 !default;
$primary-l3: #E0F2F1 !default;
$primary-l2: #B2DFDB !default;
$primary-l1: #4DB6AC !default;
$primary-d1: #00796B !default;
$primary-d2: #004D40 !default;
$success: #4CAF50 !default;
$success-l3: #E8F5E9 !default;
$success-l2: #C8E6C9 !default;
$success-l1: #81C784 !default;
$success-d1: #388E3C !default;
$success-d2: #1B5E20 !default;
$warning: #FFC107 !default;
$warning-l3: #FFF8E1 !default;
$warning-l2: #FFECB3 !default;
$warning-l1: #FFD54F !default;
$warning-d1: #FFA000 !default;
$warning-d2: #FF6F00 !default;
$danger: #FF5722 !default;
$danger-l3: #FBE9E7 !default;
$danger-l2: #FFCCBC !default;
$danger-l1: #FF8A65 !default;
$danger-d1: #E64A19 !default;
$danger-d2: #BF360C !default;
$gray-l3: darken($white, 3%) !default;
$gray-l2: darken($white, 5%) !default;
$gray-l1: darken($white, 15%) !default;
$gray: darken($white, 40%) !default;
$gray-d1: darken($white, 65%) !default;
$gray-d2: darken($white, 75%) !default;

$theme: (
    primary: $primary,
    primary-l3: $primary-l3,
    primary-l2: $primary-l2,
    primary-l1: $primary-l1,
    primary-d1: $primary-d1,
    primary-d2: $primary-d2,
    success: $success,
    success-l3: $success-l3,
    success-l2: $success-l2,
    success-l1: $success-l1,
    success-d1: $success-d1,
    success-d2: $success-d2,
    warning: $warning,
    warning-l3: $warning-l3,
    warning-l2: $warning-l2,
    warning-l1: $warning-l1,
    warning-d1: $warning-d1,
    warning-d2: $warning-d2,
    danger: $danger,
    danger-l3: $danger-l3,
    danger-l2: $danger-l2,
    danger-l1: $danger-l1,
    danger-d1: $danger-d1,
    danger-d2: $danger-d2,
) !default;
$black-white: (
    black: $black,
    white: $white,
    transparent: transparent
) !default;
$grays: (
    gray-l3: $gray-l3,
    gray-l2: $gray-l2,
    gray-l1: $gray-l1,
    gray: $gray,
    gray-d1: $gray-d1,
    gray-d2: $gray-d2
) !default;
$monochrome: map-merge($black-white, $grays) !default;
$colors: map-merge($theme, $monochrome) !default;

// Spacing
$rem-spaces: (
    #{$a-auto}: auto,
    0: 0,
    1: .25rem,
    2: .5rem,
    3: 1rem,
    4: 2rem,
    5: 4rem,
    6: 8rem,
    7: 16rem
) !default;
$rem-negative-spaces: (
    -1: -.25rem,
    -2: -.5rem,
    -3: -1rem,
    -4: -2rem,
    -5: -4rem,
    -6: -8rem,
    -7: -16rem
) !default;
$percent-spaces: (
    25#{$a-percent}: 25%,
    50#{$a-percent}: 50%,
    75#{$a-percent}: 75%,
    100#{$a-percent}: 100%
) !default;
$viewport-height-spaces: (
    25#{$a-viewport-height}: 25vh,
    50#{$a-viewport-height}: 50vh,
    75#{$a-viewport-height}: 75vh,
    100#{$a-viewport-height}: 100vh
) !default;
$grid-spaces: (
    1#{$a-column}: percentage(1 / 12),
    2#{$a-column}: percentage(2 / 12),
    3#{$a-column}: percentage(3 / 12),
    4#{$a-column}: percentage(4 / 12),
    5#{$a-column}: percentage(5 / 12),
    6#{$a-column}: percentage(6 / 12),
    7#{$a-column}: percentage(7 / 12),
    8#{$a-column}: percentage(8 / 12),
    9#{$a-column}: percentage(9 / 12),
    10#{$a-column}: percentage(10 / 12),
    11#{$a-column}: percentage(11 / 12),
    12#{$a-column}: percentage(12 / 12)
) !default;
$measure-spaces: (
    #{$a-small}: 24em,
    #{$a-medium}: 30em,
    #{$a-large}: 34em,
) !default;

// Typography
$font-monospace: unquote('"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace');
$font-serif: unquote('Georgia, Times, "Times New Roman", serif');
$font-sans-serif: unquote('-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif');

$h1-font-family: $font-sans-serif !default;
$h1-font-weight: 600 !default;
$h2-font-family: $font-sans-serif !default;
$h2-font-weight: 200 !default;
$h3-font-family: $font-sans-serif !default;
$h3-font-weight: 600 !default;
$h4-font-family: $font-sans-serif !default;
$h4-font-weight: 600 !default;

$link-color: $primary !default;
$link-color-hover: $primary-l1 !default;
$link-color-active: $primary-d1 !default;

$code-background-color: $gray-l2 !default;

// Pseudo Classes
$pseudo-focusable: (
    #{$a-focus}: focus,
    #{$a-hover}: hover,
    #{$a-active}: active
) !default;

$pseudo-hover: (
    #{$a-hover}: hover
) !default;

$pseudo-first-last: (
    #{$a-not-first}: unquote("not(:first-child)"),
    #{$a-not-last}: unquote("not(:last-child)")
) !default;

// Transitions
$transition-duration: 0.35s !default;
$transition-timing-function: ease-in-out;
