//
// VARIABLES
//

// Breakpoints
$screen-s: 'screen and (min-width: 768px)' !default;
$screen-m: 'screen and (min-width: 992px)' !default;
$screen-l: 'screen and (min-width: 1200px)' !default;

$breakpoints: (
    s: $screen-s,
    m: $screen-m,
    l: $screen-l
) !default;

// Colors
$black: #000 !default;
$white: #fff !default;
$primary: #990000 !default;
$secondary: #333 !default;
$success: green !default;
$info: blue !default;
$warning: orange !default;
$danger: red !default;
$dark-gray:#333 !default;
$mid-gray:#555 !default;
$gray: #777 !default;
$light-gray: #eee !default;
$near-white: #f4f4f4 !default;

$theme: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger
) !default;
$black-white: (
    black: $black,
    black-75: rgba($black, 0.75),
    black-50: rgba($black, 0.5),
    black-25: rgba($black, 0.25),
    white: $white,
    white-75: rgba($white, 0.75),
    white-50: rgba($white, 0.5),
    white-25: rgba($white, 0.25),
    transparent: transparent
) !default;
$grays: (
    dark-gray: $dark-gray,
    mid-gray: $mid-gray,
    gray: $gray,
    light-gray: $light-gray,
    near-white: $near-white
) !default;
$monochrome: map-merge($black-white, $grays) !default;
$colors: map-merge($theme, $monochrome) !default;

$link-color: $primary !default;

// Pseudo Classes
$pseudo-focusable: (
    f: focus,
    h: hover,
    a: active
) !default;
