//
// VARIABLES
//

// Breakpoints
$screen-s: 768px !default;
$screen-m: 992px !default;
$screen-l: 1200px !default;

$query-s: 'screen and (min-width: #{$screen-s})' !default;
$query-m: 'screen and (min-width: #{$screen-m})' !default;
$query-l: 'screen and (min-width: #{$screen-l})' !default;

$breakpoints: (
    s: (
        size: $screen-s,
        query: $query-s
    ),
    m: (
        size: $screen-m,
        query: $query-m
    ),
    l: (
        size: $screen-l,
        query: $query-l
    )
) !default;

// Colors
$black: #000 !default;
$white: #FFF !default;
$primary: #009688 !default;
$primary-light: #4DB6AC !default;
$primary-dark: #00796B !default;
$success: #4CAF50 !default;
$success-light: #81C784 !default;
$success-dark: #388E3C !default;
$warning: #FFC107 !default;
$warning-light: #FFD54F !default;
$warning-dark: #FFA000 !default;
$danger: #FF5722 !default;
$danger-light: #FF8A65 !default;
$danger-dark: #E64A19 !default;

$theme: (
    primary: $primary,
    primary-light: $primary-light,
    primary-dark: $primary-dark,
    success: $success,
    success-light: $success-light,
    success-dark: $success-dark,
    warning: $warning,
    warning-light: $warning-light,
    warning-dark: $warning-dark,
    danger: $danger,
    danger-light: $danger-light,
    danger-dark: $danger-dark,
) !default;
$black-white: (
    black: $black,
    white: $white,
    transparent: transparent
) !default;
$grays: (
    gray-lighter: darken($white, 5%),
    gray-light: darken($white, 15%),
    gray: darken($white, 40%),
    gray-dark: darken($white, 65%),
    gray-darker: darken($white, 75%)
) !default;
$monochrome: map-merge($black-white, $grays) !default;
$colors: map-merge($theme, $monochrome) !default;

$link-color: $primary !default;
$link-color-hover: $primary-light !default;
$link-color-active: $primary-dark !default;

// Pseudo Classes
$pseudo-focusable: (
    #{$a-focus}: focus,
    #{$a-hover}: hover,
    #{$a-active}: active
) !default;

// Transitions
$transition-duration: 0.35s !default;
$transition-timing-function: ease-in-out;
