//
// BORDER WIDTH
//

$border-width-breakpoints: null !default;
$border-width-pseudo-classes: null !default;
$border-width-values: (
    0: 0rem,
    1: .125rem,
    2: .25rem,
    3: .5rem,
    4: 1rem,
    5: 2rem
) !default;
$border-width-classes: (#{$c-border-width}: border-width) !default;
$border-width-module: (
    breakpoints: $border-width-breakpoints,
    pseudo-classes: $border-width-pseudo-classes,
    values: $border-width-values,
    classes: $border-width-classes
) !default;

@include build-module($border-width-module);
