//
// BOX SHADOW
//

$box-shadow-breakpoints: $breakpoints !default;
$box-shadow-pseudo-classes: null !default;
$box-shadow-values: (
    1: 0px 0px 4px 2px rgba($black, .2),
    2: 0px 0px 8px 2px rgba($black, .2)
) !default;
$box-shadow-classes: (#{$c-box-shadow}: box-shadow) !default;
$box-shadow-module: (
    breakpoints: $box-shadow-breakpoints,
    pseudo-classes: $box-shadow-pseudo-classes,
    values: $box-shadow-values,
    classes: $box-shadow-classes
) !default;

@include build-module($box-shadow-module);
