//
// FONT FAMILY
//

$font-family-breakpoints: null !default;
$font-family-pseudo-classes: null !default;
$font-family-values: (
    monospace: unquote('"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace'),
    serif: unquote('Georgia, Times, "Times New Roman", serif'),
    sans-serif: unquote('-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif')
) !default;
$font-family-classes: (#{$c-font-family}: font-family) !default;
$font-family-module: (
    breakpoints: $font-family-breakpoints,
    pseudo-classes: $font-family-pseudo-classes,
    values: $font-family-values,
    classes: $font-family-classes
) !default;

@include build-module($font-family-module);
