//
// GRADIENTS
//

$gradient-breakpoints: null !default;
$gradient-pseudo-classes: null!default;
$gradient-values: (
    brand: linear-gradient(lighten($brand, 15%), darken($brand, 15%))
) !default;
$gradient-classes: (#{$c-gradient}: background-image) !default;
$gradient-module: (
    breakpoints: $gradient-breakpoints,
    pseudo-classes: $gradient-pseudo-classes,
    values: $gradient-values,
    classes: $gradient-classes
) !default;

@include build-module($gradient-module);
