//
// ROTATIONS
//

$rotation-breakpoints: null !default;
$rotation-pseudo-classes: $pseudo-focusable !default;
$rotation-values: (
    45: rotate(45deg),
    90: rotate(90deg),
    135: rotate(135deg),
    180: rotate(180deg),
    225: rotate(225deg),
    270: rotate(270deg),
    315: rotate(315deg)
) !default;
$rotation-classes: (#{$c-rotation}: transform) !default;
$rotation-module: (
    breakpoints: $rotation-breakpoints,
    pseudo-classes: $rotation-pseudo-classes,
    values: $rotation-values,
    classes: $rotation-classes
) !default;

@include build-module($rotation-module);
