//
// WIDTH
//

$width-breakpoints: $breakpoints !default;
$width-pseudo-classes: null !default;
$width-values: (
    #{$a-auto}: auto,
    1#{$a-rem}: 1rem,
    2#{$a-rem}: 2rem,
    3#{$a-rem}: 4rem,
    4#{$a-rem}: 8rem,
    5#{$a-rem}: 16rem,
    0#{$a-percent}: 0%,
    1#{$a-column}: percentage(1 / 12),
    2#{$a-column}: percentage(2 / 12),
    3#{$a-column}: percentage(3 / 12),
    4#{$a-column}: percentage(4 / 12),
    5#{$a-column}: percentage(5 / 12),
    6#{$a-column}: percentage(6 / 12),
    7#{$a-column}: percentage(7 / 12),
    8#{$a-column}: percentage(8 / 12),
    9#{$a-column}: percentage(9 / 12),
    10#{$a-column}: percentage(10 / 12),
    11#{$a-column}: percentage(11 / 12),
    12#{$a-column}: percentage(12 / 12),
) !default;
$width-classes: (#{$c-width}: width) !default;
$width-module: (
    breakpoints: $width-breakpoints,
    pseudo-classes: $width-pseudo-classes,
    values: $width-values,
    classes: $width-classes
) !default;

@include build-module($width-module);
