header(class='pos(fixed) z(9999) t(0) w(12col) h(5) bgc(white) bs(1)')
    div(class='container h(5) d(f) ai(c) jc(sb)')
        a(href='/' title='Elassus' class='td(n) d(f) ai(c)')
            img(src='/img/logo.svg' class='pos(relative) w(4) h(4)' aria-hidden="true")
            span(class='h3 fw(200) c(black) m-y(0) m-l(2) d(n) d(i)s') Elassus

        nav
            ul(class='ls(n) d(f) h(5)')
                each item in [ { name: 'Docs', url: '/docs.html' }, { name: 'Reference', url: '/reference.html' }, { name: 'Examples', url: '/examples/index.html' }, { name: 'GitHub', url: 'https://github.com/krivaten/elassus'}]
                    li(class='h(5)')
                        -var current = currentUrl === item.url ? 'bgc(gray-l2)' : '';
                        a(href=item.url class='p-x(2) p-x(3)s d(f) ai(c) h(5) td(n) bgc(gray-l2):h ' + current)= item.name
