//
// HELPERS
//

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
    &:active {
        color: $link-color-active;
    }
}

code {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
    background-color: $code-background;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
.pointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fill {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
