//
// TYPOGRAPHY
//

@include build-docs('Utility: Typography', $include-docs);
.content {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

p,
.p {
    padding-top: 0;
    margin: 0;
}

h1,
.h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    letter-spacing: -1px;
    /* tighten up 'display type' headers on smaller displays */
    line-height: 1.25;
    /* 45px / 36px */
    margin-top: 0.9375em;
    /* (20px / 32px) * 1.5 */
    margin-bottom: 0.3125em;
    /* (20px / 32px) * .5 */
}

h2,
.h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
    margin-top: 1.15384616em;
    /* (20px / 26px) * 1.5 */
    margin-bottom: 0.38461539em;
    /* (20px / 26px) * .5 */
}

h3,
.h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
    margin-top: 1.36363637em;
    /* (20px / 22px) * 1.5 */
    margin-bottom: 0.45454546em;
    /* (20px / 22px) * .5 */
}

h4,
.h5 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
    margin-top: 1.66666667em;
    /* (20px / 18px) * 1.5 */
    margin-bottom: 0.55555556em;
    /* (20px / 18px) * .5 */
}

/* Blockquote styles */
blockquote,
.blockquote {
    width: 85%;
    margin-top: 1em;
    /* (20px / 20px) */
    margin-bottom: 1em;
    /* (20px / 20px) * .5 */
    font-size: 1.25em;
    /* 20px / 16px */
    line-height: 1.25;
    /* 25px / 20px */
    font-weight: 300;
    font-style: normal;
    position: relative;
}

small,
.small {
    font-size: 80%;
}

@media #{$query-s} {
    .content {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.375;
        /* equivalent to 22px */
    }
    h1,
    .h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        letter-spacing: normal;
        line-height: 1.125;
        /* 45px / 40px */
        margin-top: 0.73333334em;
        /* (22px / 45px) * 1.5 */
        margin-bottom: 0.24444445em;
        /* (22px / 45px) * .5 */
    }
    h2,
    .h2 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
        margin-top: 1.03125em;
        /* (22px / 32px) * 1.5 */
        margin-bottom: 0.34375em;
        /* (22px / 32px) * .5 */
    }
    h3,
    .h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
        margin-top: 1.37500001em;
        /* (22px / 24px) * 1.5 */
        margin-bottom: 0.45833334em;
        /* (22px / 24px) * .5 */
    }
    h4,
    .h4 {
        line-height: 1.22222222;
        /* (22px / 18px */
        margin-top: 1.83333333em;
        /* (22px / 18px) * 1.5 */
        margin-bottom: 0.61111111em;
        /* (22px / 18px) * .5 */
        max-width: 32em;
    }
    blockquote,
    .blockquote {
        font-size: 1.5em;
        /* 24px / 16px = */
        line-height: 1.45833333;
        /* 35px / 24px */
    }
}

@media #{$query-m} {
    h1,
    .h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        letter-spacing: normal;
        line-height: 1.05;
        /* keep to a multiple of the 20px line height and something more appropriate for display headings */
        margin-top: 0.6875em;
        /* (22px / 48px) * 1.5 */
        margin-bottom: 0.22916667em;
        /* (22px / 48px) * .5 */
    }
    h2,
    .h2 {
        font-size: 2.25em;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
        margin-top: 1.03125em;
        /* (22px / 32px) * 1.5 */
        margin-bottom: 0.34375em;
        /* (22px / 32px) * .5 */
    }
    h3,
    .h3 {
        font-size: 1.75em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
        margin-top: 1.37500001em;
        /* (22px / 24px) * 1.5 */
        margin-bottom: 0.45833334em;
        /* (22px / 24px) * .5 */
    }
    h4,
    .h4 {
        max-width: 33.77778em;
    }
}
