//
// TYPOGRAPHY
//

@include build-docs('Utility: Typography', $include-docs);
.content {
    font-size: 1em;
    line-height: 1.25;
}

p,
.p {
    padding-top: 0;
    margin: 0;
}

h1,
.h1 {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1.25;
    margin-top: 0.9375em;
    margin-bottom: 0.3125em;
}

h2,
.h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
    margin-top: 1.15384616em;
    margin-bottom: 0.38461539em;
}

h3,
.h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
    margin-top: 1.36363637em;
    margin-bottom: 0.45454546em;
}

h4,
.h4 {
    font-size: 1.125em;
    line-height: 1.11111111;
    margin-top: 1.66666667em;
    margin-bottom: 0.55555556em;
}

blockquote,
.blockquote {
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 300;
    font-style: normal;
    position: relative;
}

small,
.small {
    font-size: 80%;
}

@media #{$query-s} {
    .content {
        font-size: 1em;
        line-height: 1.375;
    }
    h1,
    .h1 {
        font-size: 2.5em;
        letter-spacing: normal;
        line-height: 1.125;
        margin-top: 0.73333334em;
        margin-bottom: 0.24444445em;
    }
    h2,
    .h2 {
        font-size: 2em;
        line-height: 1.25;
        margin-top: 1.03125em;
        margin-bottom: 0.34375em;
    }
    h3,
    .h3 {
        font-size: 1.5em;
        line-height: 1.25;
        margin-top: 1.37500001em;
        margin-bottom: 0.45833334em;
    }
    h4,
    .h4 {
        line-height: 1.22222222;
        margin-top: 1.83333333em;
        margin-bottom: 0.61111111em;
    }
    blockquote,
    .blockquote {
        font-size: 1.5em;
        line-height: 1.45833333;
    }
}

@media #{$query-m} {
    h1,
    .h1 {
        font-size: 3em;
        letter-spacing: normal;
        line-height: 1.05;
        margin-top: 0.6875em;
        margin-bottom: 0.22916667em;
    }
    h2,
    .h2 {
        font-size: 2.25em;
        line-height: 1.25;
        margin-top: 1.03125em;
        margin-bottom: 0.34375em;
    }
    h3,
    .h3 {
        font-size: 1.75em;
        line-height: 1.25;
        margin-top: 1.37500001em;
        margin-bottom: 0.45833334em;
    }
}
