//
// TYPOGRAPHY
//

@include build-docs('Utility: Typography', $include-docs);
body {
    font-size: 1rem;
    line-height: 1.5em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    line-height: 1.25em;
    margin-bottom: 1.5rem
}

h1,
.h1 {
    font-family: $h1-font-family;
    font-weight: $h1-font-weight;
    font-size: 2rem;
    margin-top: 4rem;
}

h2,
.h2 {
    font-family: $h2-font-family;
    font-weight: $h2-font-weight;
    font-size: 1.625rem;
    margin-top: 3.25rem;
}

h3,
.h3 {
    font-family: $h3-font-family;
    font-weight: $h3-font-weight;
    font-size: 1.375rem;
    margin-top: 2.75rem;
}

h4,
.h4 {
    font-family: $h4-font-family;
    font-weight: $h4-font-weight;
    font-size: 1.125rem;
    margin-top: 2.25rem;
}

@media #{$query-s} {
    body {
        line-height: 1.75em;
    }

    h1,
    .h1 {
        font-size: 2.5rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.5rem;
    }
}

@media #{$query-m} {
    h1,
    .h1 {
        font-size: 3rem;
    }

    h2,
    .h2 {
        font-size: 2.25rem;
    }

    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

hr,
.hr {
    border: 1px solid $gray-l1;
    margin: -1px 0;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

code {
    display: inline-block;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

pre,
code {
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: $code-background-color;
}

pre {
    overflow-x: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &,
    code {
        display: block;
        width: 100%;
    }

    code {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
    }
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
    &:active {
        color: $link-color-active;
    }
}

small,
.small {
    font-size: 80%;
}
