doctype html

-var title = 'Docs'
-var currentUrl = '/docs.html'
include includes/head.pug

body(class='p(0) p-t(5) m(0) ff(sans) bg-c(off-white)')
    include includes/nav.pug

    div(class='container content m-t(2)')
        h1(class='fw(200)') Documentation

        p Currently working on documentation on how to customize this awesome library. Please have patience!
