doctype html

-var title = 'Reference'
-var currentUrl = '/reference.html'
include includes/head.pug

body(class='p(0) p-t(5) m(0) ff(sans) bgc(off-white)')
    include includes/nav.pug

    div(class='container content m-t(2)')
        h1(class='fw(200)') Reference

        div(class='max-w(m)s')
            p We made this handy little tool to make it easier to navigate all the features that Elassus has to offer. Simply search for a CSS property or module you would like to use and the results will display below.

        div(id='root' class='m-t(3)')

    script(type='text/javascript' src='/searcher/main.f3bd4a08.js')
