doctype html

-var title = 'Reference'
-var currentUrl = '/reference.html'
include includes/head.pug

body(class='p(0) p-t(5) m(0) ff(sans) bg-c(off-white)')
    include includes/nav.pug

    div(class='container content m-t(2)')
        h1(class='fw(200)') Reference

        p Use this page to scan or search for class names in Elassus.

        p If you would like to customize your output, visit the documentation page.

        div(id='root' class='m-t(3)')

    script(type='text/javascript' src='/searcher/main.dcce394d.js')
