doctype html

-var title = 'Examples'
-var currentUrl = '/examples/index.html'
include ../includes/head.pug

body(class='p(0) p-t(5) m(0) ff(sans) bg-c(off-white)')
    include ../includes/nav.pug

    div(class='container content m-t(2)')
        h1(class='fw(200)') Examples

        div(class='max-w(m)s')
            p So you're interested in using Elassus, but want to know what it can do? Check out the examples below to see the types of sites the framework is able to handle.

        ul(class='ls(n) d(f) fw(wrap) jc(c) m-x(-3)')
            each item in [ { name: 'Twitter Clone', path: 'twitter' }, { name: 'Corporate Site', path: 'corporate' }]
                li(class='p-x(3) w(12col) w(3col)s')
                    a(href='/examples/'+item.path+'.html' class='d(b) t-a(c) t-d(n)')
                        img(src='/img/'+item.path+'.png' class='bd(1)')
                        span(class='p-y(2)')= item.name
