//
// BORDER COLOR
//

$border-color-breakpoints: null !default;
$border-color-pseudo-classes: $pseudo-focusable !default;
$border-color-values: $colors !default;
$border-color-classes: (#{$c-border-color}: border-color) !default;
$border-color-module: (
    breakpoints: $border-color-breakpoints,
    pseudo-classes: $border-color-pseudo-classes,
    values: $border-color-values,
    classes: $border-color-classes
) !default;

@include build-module($border-color-module);
