//
// BORDER RADIUS
//

$border-radius-breakpoints: null !default;
$border-radius-pseudo-classes: null !default;
$border-radius-values: map-merge((
    #{$a-fill}: 100%,
    #{$a-pill}: 9999px
), $rem-spaces) !default;
$border-radius-classes: (
    #{$c-border-radius}: border-radius,
    #{$c-border-radius-top-left}: border-top-left-radius,
    #{$c-border-radius-top-right}: border-top-right-radius,
    #{$c-border-radius-bottom-left}: border-bottom-left-radius,
    #{$c-border-radius-bottom-right}: border-bottom-right-radius,
) !default;
$border-radius-module: (
    title: 'Module: Border Radius',
    breakpoints: $border-radius-breakpoints,
    pseudo-classes: $border-radius-pseudo-classes,
    values: $border-radius-values,
    classes: $border-radius-classes
) !default;

@include build-module($border-radius-module);
