//
// BOX SHADOW
//

$box-shadow-breakpoints: $breakpoints !default;
$box-shadow-pseudo-classes: null !default;
$box-shadow-values: (
    #{$a-top}: 0 2px 4px 0 rgba($black, .2)
) !default;
$box-shadow-classes: (#{$c-box-shadow}: box-shadow) !default;
$box-shadow-module: (
    title: 'Module: Box Shadow',
    breakpoints: $box-shadow-breakpoints,
    pseudo-classes: $box-shadow-pseudo-classes,
    values: $box-shadow-values,
    classes: $box-shadow-classes
) !default;

@include build-module($box-shadow-module);
