//
// COORDINATES
//

$coordinate-breakpoints: $breakpoints !default;
$coordinate-pseudo-classes: null !default;
$coordinate-values: (
    0#{$a-step}: 0,
    1#{$a-step}: .25rem,
    2#{$a-step}: .5rem,
    3#{$a-step}: 1rem,
    4#{$a-step}: 2rem,
    5#{$a-step}: 4rem,
    6#{$a-step}: 8rem,
    7#{$a-step}: 16rem
) !default;
$coordinate-classes: (
    #{$c-top}: top,
    #{$c-bottom}: bottom,
    #{$c-left}: left,
    #{$c-right}: right
) !default;
$coordinate-module: (
    title: 'Module: Coordinates',
    breakpoints: $coordinate-breakpoints,
    pseudo-classes: $coordinate-pseudo-classes,
    values: $coordinate-values,
    classes: $coordinate-classes
) !default;

@include build-module($coordinate-module);
