//
// FONT WEIGHTS
//

$font-weight-breakpoints: null !default;
$font-weight-pseudo-classes: null !default;
$font-weight-values: (
    200: 200,
    400: 400,
    600: 600
) !default;
$font-weight-classes: (#{$c-font-weight}: font-weight) !default;
$font-weight-module: (
    title: 'Module: Font Weight',
    breakpoints: $font-weight-breakpoints,
    pseudo-classes: $font-weight-pseudo-classes,
    values: $font-weight-values,
    classes: $font-weight-classes
) !default;

@include build-module($font-weight-module);
