//
// FONT SIZE
//

$font-size-breakpoints: $breakpoints !default;
$font-size-pseudo-classes: null !default;
$font-size-values: (
    1#{$a-step}: .25rem,
    2#{$a-step}: .5rem,
    3#{$a-step}: 1rem,
    4#{$a-step}: 2rem,
    5#{$a-step}: 4rem
) !default;
$font-size-classes: (#{$c-font-size}: font-size) !default;
$font-size-module: (
    breakpoints: $font-size-breakpoints,
    pseudo-classes: $font-size-pseudo-classes,
    values: $font-size-values,
    classes: $font-size-classes
) !default;

@include build-module($font-size-module);
