//
// HEIGHT
//

$height-breakpoints: $breakpoints !default;
$height-pseudo-classes: null !default;
$height-values: (
    #{$a-auto}: auto,
    #{$a-inherit}: inherit,
    0#{$a-step}: 0,
    1#{$a-step}: .25rem,
    2#{$a-step}: .5rem,
    3#{$a-step}: 1rem,
    4#{$a-step}: 2rem,
    5#{$a-step}: 4rem,
    6#{$a-step}: 8rem,
    7#{$a-step}: 16rem,
    25#{$a-percent}: 25%,
    50#{$a-percent}: 50%,
    75#{$a-percent}: 75%,
    100#{$a-percent}: 100%,
    25#{$a-viewport-height}: 25vh,
    50#{$a-viewport-height}: 50vh,
    75#{$a-viewport-height}: 75vh,
    100#{$a-viewport-height}: 100vh
) !default;
$height-classes: (#{$c-height}: height) !default;
$height-module: (
    title: 'Height',
    breakpoints: $height-breakpoints,
    pseudo-classes: $height-pseudo-classes,
    values: $height-values,
    classes: $height-classes
) !default;

@include build-module($height-module);

$min-height-breakpoints: $breakpoints !default;
$min-height-pseudo-classes: null !default;
$min-height-values: (
    100#{$a-percent}: 100%,
    100#{$a-viewport-height}: 100vh
) !default;
$min-height-classes: (#{$c-min-height}: min-height) !default;
$min-height-module: (
    breakpoints: $min-height-breakpoints,
    pseudo-classes: $min-height-pseudo-classes,
    values: $min-height-values,
    classes: $min-height-classes
) !default;

@include build-module($min-height-module);
