//
// MAX WIDTH
//

$max-width-breakpoints: $breakpoints !default;
$max-width-pseudo-classes: null !default;
$max-width-values: (
    #{$a-none}: none,
    0: 0,
    1: .25rem,
    2: .5rem,
    3: 1rem,
    4: 2rem,
    5: 4rem,
    6: 8rem,
    7: 16rem,
    #{$a-small}: 24em,
    #{$a-medium}: 30em,
    #{$a-large}: 24em,
    25#{$a-percent}: 25%,
    50#{$a-percent}: 50%,
    75#{$a-percent}: 75%,
    100#{$a-percent}: 100%,
) !default;
$max-width-classes: (#{$c-max-width}: max-width) !default;
$max-width-module: (
    title: 'Module: Max Width',
    breakpoints: $max-width-breakpoints,
    pseudo-classes: $max-width-pseudo-classes,
    values: $max-width-values,
    classes: $max-width-classes
) !default;

@include build-module($max-width-module);
