//
// SAMPLE
//

$opacity-breakpoints: null !default;
$opacity-pseudo-classes: $pseudo-focusable !default;
$opacity-values: (
    100: 1,
    75: .75,
    50: .5,
    25: .25,
    0: 0
) !default;
$opacity-classes: (#{$c-opacity}: opacity) !default;
$opacity-module: (
    title: 'Opacity',
    breakpoints: $opacity-breakpoints,
    pseudo-classes: $opacity-pseudo-classes,
    values: $opacity-values,
    classes: $opacity-classes
) !default;

@include build-module($opacity-module);
