//
// TEXT ALIGN
//

$text-align-breakpoints: $breakpoints !default;
$text-align-pseudo-classes: null !default;
$text-align-values: (
    #{$a-left}: left,
    #{$a-right}: right,
    #{$a-center}: center
) !default;
$text-align-classes: (#{$c-text-align}: text-align) !default;
$text-align-module: (
    title: 'Text Align',
    breakpoints: $text-align-breakpoints,
    pseudo-classes: $text-align-pseudo-classes,
    values: $text-align-values,
    classes: $text-align-classes
) !default;

@include build-module($text-align-module);
