//
// TRANSFORM
//

$transform-breakpoints: null !default;
$transform-pseudo-classes: $pseudo-focusable !default;
$transform-values: (
    #{$a-rotate}45: rotate(45deg),
    #{$a-rotate}90: rotate(90deg),
    #{$a-rotate}135: rotate(135deg),
    #{$a-rotate}180: rotate(180deg),
    #{$a-rotate}225: rotate(225deg),
    #{$a-rotate}270: rotate(270deg),
    #{$a-rotate}315: rotate(315deg),
    #{$a-scale}-#{$a-vertical}0: scale3d(0, 1, 1),
    #{$a-scale}-#{$a-vertical}1: scale3d(.25, 1, 1),
    #{$a-scale}-#{$a-vertical}2: scale3d(.5, 1, 1),
    #{$a-scale}-#{$a-vertical}3: scale3d(1, 1, 1),
    #{$a-scale}-#{$a-horizontal}0: scale3d(1, 0, 1),
    #{$a-scale}-#{$a-horizontal}1: scale3d(1, .25, 1),
    #{$a-scale}-#{$a-horizontal}2: scale3d(1, .5, 1),
    #{$a-scale}-#{$a-horizontal}3: scale3d(1, 1, 1),
    #{$a-scale}0: scale3d(0, 0, 1),
    #{$a-scale}1: scale3d(.25, .25, 1),
    #{$a-scale}2: scale3d(.5, .5, 1),
    #{$a-scale}3: scale3d(1, 1, 1),
    #{$a-translate}-#{$a-left}0: translate3d(-0rem, 0, 0),
    #{$a-translate}-#{$a-left}1: translate3d(-.25rem, 0, 0),
    #{$a-translate}-#{$a-left}2: translate3d(-.5rem, 0, 0),
    #{$a-translate}-#{$a-left}3: translate3d(-1rem, 0, 0),
    #{$a-translate}-#{$a-right}0: translate3d(0rem, 0, 0),
    #{$a-translate}-#{$a-right}1: translate3d(.25rem, 0, 0),
    #{$a-translate}-#{$a-right}2: translate3d(.5rem, 0, 0),
    #{$a-translate}-#{$a-right}3: translate3d(1rem, 0, 0),
    #{$a-translate}-#{$a-top}0: translate3d(0, -0rem, 0),
    #{$a-translate}-#{$a-top}1: translate3d(0, -.25rem, 0),
    #{$a-translate}-#{$a-top}2: translate3d(0, -.5rem, 0),
    #{$a-translate}-#{$a-top}3: translate3d(0, -1rem, 0),
    #{$a-translate}-#{$a-bottom}0: translate3d(0, 0rem, 0),
    #{$a-translate}-#{$a-bottom}1: translate3d(0, .25rem, 0),
    #{$a-translate}-#{$a-bottom}2: translate3d(0, .5rem, 0),
    #{$a-translate}-#{$a-bottom}3: translate3d(0, 1rem, 0),
) !default;
$transform-classes: (#{$c-transform}: transform) !default;
$transform-module: (
    title: 'Module: Transform',
    breakpoints: $transform-breakpoints,
    pseudo-classes: $transform-pseudo-classes,
    values: $transform-values,
    classes: $transform-classes
) !default;

@include build-module($transform-module);
