//
// WIDTH
//

$width-breakpoints: $breakpoints !default;
$width-pseudo-classes: null !default;
$width-values: (
    #{$a-auto}: auto,
    0#{$a-step}: 0,
    1#{$a-step}: .25rem,
    2#{$a-step}: .5rem,
    3#{$a-step}: 1rem,
    4#{$a-step}: 2rem,
    5#{$a-step}: 4rem,
    6#{$a-step}: 8rem,
    7#{$a-step}: 16rem,
    25#{$a-percent}: 25%,
    50#{$a-percent}: 50%,
    75#{$a-percent}: 75%,
    100#{$a-percent}: 100%,
    1#{$a-column}: percentage(1 / 12),
    2#{$a-column}: percentage(2 / 12),
    3#{$a-column}: percentage(3 / 12),
    4#{$a-column}: percentage(4 / 12),
    5#{$a-column}: percentage(5 / 12),
    6#{$a-column}: percentage(6 / 12),
    7#{$a-column}: percentage(7 / 12),
    8#{$a-column}: percentage(8 / 12),
    9#{$a-column}: percentage(9 / 12),
    10#{$a-column}: percentage(10 / 12),
    11#{$a-column}: percentage(11 / 12),
    12#{$a-column}: percentage(12 / 12),
) !default;
$width-classes: (#{$c-width}: width) !default;
$width-module: (
    title: 'Width',
    breakpoints: $width-breakpoints,
    pseudo-classes: $width-pseudo-classes,
    values: $width-values,
    classes: $width-classes
) !default;

@include build-module($width-module);
